.bg {
  background-color: $bg-main-color;

  &__group {
    position: relative;

    &--number {
      &--one {
        min-height: 1415px;
        z-index: 1;

        &:before {
          content: '';
          display: block;
          background-image: url('../assets/imgs/pattern-circles.png');
          background-repeat: no-repeat;
          width: 482px;
          height: 706px;
          background-size: 100%;
          background-position: center;
          position: absolute;
          top: 75%;
          transform: translateY(-50%);
          z-index: -1;
          opacity: .02;
        }

        &:after {
          content: '';
          display: block;
          background-image: url('../assets/imgs/pattern-waves-yellow.png');
          background-repeat: no-repeat;
          width: 245px;
          height: 291px;
          background-size: 100%;
          background-position: center;
          position: absolute;
          bottom: -60px;
          right: 0;
          transform: translateY(-50%);
          z-index: -1;
          // opacity: .03;
        }
      }
      &--two {
        min-height: 1280px;
        overflow: hidden;

        &:before {
          content: '';
          display: block;
          background-image: url('../assets/imgs/pattern-circles.png');
          background-repeat: no-repeat;
          width: 482px;
          height: 706px;
          background-size: 100%;
          background-position: center;
          position: absolute;
          bottom: 85px;
          right: -190px;
          transform: scaleX(-1);
          z-index: -1;
          opacity: .02;
        }
      }
      &--three {
        min-height: 1080px;
        &:before {
          content: '';
          width: 480px;
          height: 706px;
          background-image: url('../assets/imgs/pattern-circles.png');
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          top: 100%;
          right: 0;
          transform: translateY(-50%) scaleX(-1);
          z-index: 1;
          opacity: .03;
          position: absolute;
        }
      }
      &--four {
        min-height: 1570px;
      }
      &--five {
        min-height: 1460px;
      }
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    z-index: -1;

    &--visible {
      overflow: visible;
    }

    &--group {
      &--one,
      &--two,
      &--three,
      &--four,
      &--five {
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          background-image: url('../assets/imgs/pattern-oldify.png');
          background-repeat: repeat;
          background-size: 100%;
          background-position: center;
          bottom: 0;
          right: 0;
          z-index: 1;
          position: absolute;
        }

      }
      &--five {
        &:after {
          content: '';
          width: 480px;
          height: 650px;
          background-image: url('../assets/imgs/pattern-circles.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 0 0;
          bottom: 0;
          right: 0;
          transform: scaleX(-1);
          z-index: 1;
          opacity: .03;
          position: absolute;
        }
      }
    }
  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--group {
      &--one {
        min-height: 1415px;
        min-width: 1440px;
        background-image: url('../assets/imgs/part-one-pattern-sunrise.png');

        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
      }

      &--two {
        min-height: 1280px;
        min-width: 1440px;
      }

      &--three {
        min-height: 1080px;
        min-width: 1440px;

        background-image: url('../assets/imgs/pattern-waves-blue.png');
        background-repeat: no-repeat;
        background-size: 513px 291px;
        background-position: 0 97%;

      }

      &--four {
        min-height: 1570px;
        min-width: 1440px;
      }
      &--five {
        min-height: 1460px;
        min-width: 1440px;
      }
    }
  }

  &__subpart {
    position: absolute;

    &--group {
      &--five {
        height: 1850px;
        width: 1440px;
        z-index: -2;
        top: -1000px;
      }
    }
  }
}
