.bg {
  background-color: $bg-main-color;

  &__group {
    position: relative;

    &--number {
      &--one {
        min-height: 1415px;
      }
      &--two {
        min-height: 1280px;
      }
      &--three {
        min-height: 1080px;
      }
      &--four {
        min-height: 1570px;
      }
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--group {
      &--one {
        min-height: 1415px;
        min-width: 1440px;
        background-image: url('../assets/imgs/part-one-pattern-sunrise.png');

        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
      }

      &--two {
        min-height: 1280px;
        min-width: 1440px;
      }

      &--three {
        min-height: 1080px;
        min-width: 1440px;
      }

      &--four {
        min-height: 1570px;
        min-width: 1440px;
      }
    }
  }
}
