.header {
  position: relative;
  padding-top: 50px;
  margin-bottom: 100px;

  &:before {
    display: block;
    content: '';
    width: 17px;
    height: 17px;
    background-color: $text-color-orange;
    position: absolute;
    top: 50px;
    left: -95px;
    border-radius: 100%;
  }

  &:after {
    display: block;
    content: '';
    width: 17px;
    height: 17px;
    background-color: $text-color-orange;
    position: absolute;
    top: 50px;
    right: -95px;
    border-radius: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-flow: column, nowrap;
    justify-content: center;

    width: 100%;
  }
}
