.whom {
  padding-top: 27px;

  &__heading {
    display: inline-block;
  }

  &__block {
    &--position {
      &--second {
        margin-top: -45px;
      }
      &--third {
        margin-top: 103px;
        margin-bottom: 108px;
      }
    }
  }

  &__img {
    display: block;
    margin-top: 85px;
    position: relative;
    left: 23px;
  }

  &__speaker {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &s {
      list-style: none;
      margin: 0;
      padding: 0 30px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-img {
      border-radius: 100%;
    }

    &-name {
      font-family: $ff-circe;
      font-weight: 500;
      color: $text-color-green-dark;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__paragraph {
    max-width: 615px;
    font-family: $ff-circe;
    font-size: 22.5px;
    font-weight: 500;
    color: $text-color-green-dark;
    line-height: 2;
    text-transform: uppercase;
    margin: 0;
    padding-left: 30px;

    &-line {
      display: block;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &--emphasis {
      font-size: 37.5px;
      line-height: 1.6;
    }



    &--position {
      &--forth {
        padding-left: 0;

        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }

      &--fifth {
        padding-left: 0;
      }

      &--sixth {
        padding-left: 0;
        max-width: 700px;
      }

    }
  }
}
