@font-face {
  font-family: 'StrenuousBlack';
  src: url('../assets/fonts/strenuous-bl.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amontillados';
  src: url('../assets/fonts/amontillados.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
