@font-face {
  font-family: 'StrenuousBlack';
  src: url("../assets/fonts/strenuous-bl.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Amontillados';
  src: url("../assets/fonts/amontillados.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/circe-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/circe-bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/circe-x-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/circe-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/circe-x-light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/circe-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

body {
  margin: 0; }

.heading {
  position: relative; }
  .heading__line {
    font-family: "StrenuousBlack", sans-serif;
    font-size: 97.5px;
    line-height: 90px;
    text-transform: capitalize;
    display: block;
    color: #e6daac;
    text-shadow: 3px -3px #1c302e, 3.625px -1.625px #1c302e, 4.25px -0.25px #1c302e, 4.875px 1.125px #1c302e, 5.5px 2.5px #1c302e, 6.125px 3.875px #1c302e, 6.75px 5.25px #1c302e, 7.375px 6.625px #1c302e, -3px -3px #1c302e, 3px 3px #1c302e, -1.625px 3.625px #1c302e, -0.25px 4.25px #1c302e, 1.125px 4.875px #1c302e, 2.5px 5.5px #1c302e, 3.875px 6.125px #1c302e, 5.25px 6.75px #1c302e, 6.625px 7.375px #1c302e, 8px 8px #1c302e, -3px 3px #1c302e;
    letter-spacing: 11.5px; }
  .heading__caption {
    position: absolute;
    bottom: -60px;
    left: 50%;
    display: block;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #f48a01;
    font-family: "Amontillados", sans-serif;
    font-size: 152px;
    font-weight: normal;
    line-height: 100%; }
    .heading__caption--position--jumbotron {
      left: 45%; }

.bg {
  background-color: #e7daa8; }
  .bg__group {
    position: relative; }
    .bg__group--number--one {
      min-height: 1415px; }
    .bg__group--number--two {
      min-height: 1680px; }
  .bg__container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .bg__img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .bg__img--group--one {
      min-height: 1415px;
      min-width: 1440px;
      background-image: url("../assets/imgs/part-one-pattern-sunrise.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top; }
    .bg__img--group--two {
      min-height: 1680px;
      min-width: 1440px; }
  .bg__part-two {
    height: 1680px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center, top; }

.header {
  padding-top: 50px;
  margin-bottom: 100px; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column, nowrap;
            flex-flow: column, nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }

.jumbotron__heading {
  margin-top: 75px;
  margin-bottom: 25px; }

.jumbotron__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
  font-family: "Circe", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  color: #1c302e;
  text-transform: uppercase; }
  .jumbotron__date-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    position: relative;
    padding: 0 23px; }
    .jumbotron__date-item:first-of-type {
      padding-left: 0; }
    .jumbotron__date-item:last-of-type {
      padding-right: 0; }
    .jumbotron__date-item:not(:first-of-type):before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 57px;
      background-color: #1c302e;
      left: 0;
      top: 46%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .jumbotron__date-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .jumbotron__date--size--big {
    height: 100%;
    font-weight: 300;
    font-size: 81px;
    line-height: 81px; }
  .jumbotron__date--size--x-small {
    font-size: 18px;
    line-height: 20px; }
  .jumbotron__date--size--small {
    font-size: 27px; }
  .jumbotron__date--contrast {
    color: #f48a01; }

.about {
  margin-top: -45px;
  margin-bottom: -250px; }
  .about__heading {
    display: inline-block;
    margin-bottom: 108px; }
  .about__img {
    margin-top: 12px; }
  .about__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .about__paragraph {
    max-width: 510px;
    font-size: 22.5px;
    font-family: "Circe", sans-serif;
    font-weight: 500;
    line-height: 2;
    color: #1c302e;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 80px;
    margin-bottom: 50px; }
  .about__list {
    margin: 0;
    margin-left: 80px;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    color: #1c302e;
    font-family: "Circe", sans-serif;
    font-size: 22.5px;
    font-weight: 500; }
    .about__list-item {
      margin-bottom: 22px;
      position: relative; }
      .about__list-item:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #558e8a;
        position: absolute;
        top: 45%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: -47px; }

.from-you {
  padding-top: 175px; }
  .from-you__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .from-you__block--align--right {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .from-you__img {
    position: relative;
    right: -42px;
    margin-top: 18px; }
  .from-you__heading {
    display: inline-block;
    margin-bottom: 54px; }
  .from-you__paragraph {
    max-width: 495px;
    font-size: 22.5px;
    font-family: "Circe", sans-serif;
    font-weight: 500;
    line-height: 2;
    color: #1c302e;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 0; }
  .from-you__list {
    margin: 0;
    padding: 0;
    max-width: 410px;
    position: relative;
    z-index: 0;
    padding-top: 135px;
    padding-left: 108px;
    list-style: none; }
    .from-you__list:before {
      content: '';
      display: block;
      position: absolute;
      width: 694px;
      height: 496px;
      top: 1px;
      right: -291px;
      background-image: url("../assets/imgs/from-you-list-bg.png");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: -1; }
    .from-you__list-item {
      font-family: "Circe", sans-serif;
      color: #e6daac;
      font-size: 22.5px;
      font-weight: 500;
      line-height: 1.3;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 25px; }
    .from-you__list-emphasis {
      display: block;
      font-size: 41px;
      line-height: 100%; }

.features {
  background-color: #cf5c52;
  padding-bottom: 100px;
  padding-top: 70px;
  margin-top: -275px;
  position: relative;
  z-index: 1; }
  .features__block--margin--wide {
    margin-bottom: 145px; }
  .features__heading {
    display: inline-block;
    margin-bottom: 128px; }
  .features__img--drinks {
    position: relative;
    left: -28px;
    margin-top: -173px; }
  .features__img--chairs {
    position: relative;
    left: 7px;
    margin-top: -205px; }
  .features__paragraph {
    color: #1c302e;
    text-transform: uppercase;
    font-size: 22.5px;
    line-height: 45px;
    font-family: "Circe", sans-serif;
    font-weight: 500;
    text-align: left;
    margin: 0; }
    .features__paragraph--position--first {
      max-width: 485px; }
    .features__paragraph--position--second {
      max-width: 415px; }
    .features__paragraph-line {
      display: block; }
  .features__emphasis {
    display: block;
    font-size: 37.5px;
    line-height: 60px; }
